@keyframes ldio-x2uulkbinc {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.spinner {
    margin: 0 auto;
}

.ldio-x2uulkbinc div {
    box-sizing: border-box !important
}

.ldio-x2uulkbinc > div {
    position: absolute;
    width: 94.71px;
    height: 94.71px;
    top: 14.145px;
    left: 14.145px;
    border-radius: 50%;
    border: 6.15px solid #000;
    border-color: #0099e5 transparent #0099e5 transparent;
    animation: ldio-x2uulkbinc 2.272727272727273s linear infinite;
}

.ldio-x2uulkbinc > div:nth-child(2), .ldio-x2uulkbinc > div:nth-child(4) {
    width: 79.95px;
    height: 79.95px;
    top: 21.525px;
    left: 21.525px;
    animation: ldio-x2uulkbinc 2.272727272727273s linear infinite reverse;
}

.ldio-x2uulkbinc > div:nth-child(2) {
    border-color: transparent #ff4c4c transparent #ff4c4c
}

.ldio-x2uulkbinc > div:nth-child(3) {
    border-color: transparent
}

.ldio-x2uulkbinc > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-x2uulkbinc > div:nth-child(3) div:before, .ldio-x2uulkbinc > div:nth-child(3) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 6.15px;
    height: 6.15px;
    top: -6.15px;
    left: 38.13px;
    background: #0099e5;
    border-radius: 50%;
    box-shadow: 0 88.56px 0 0 #0099e5;
}

.ldio-x2uulkbinc > div:nth-child(3) div:after {
    left: -6.15px;
    top: 38.13px;
    box-shadow: 88.56px 0 0 0 #0099e5;
}

.ldio-x2uulkbinc > div:nth-child(4) {
    border-color: transparent;
}

.ldio-x2uulkbinc > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-x2uulkbinc > div:nth-child(4) div:before, .ldio-x2uulkbinc > div:nth-child(4) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 6.15px;
    height: 6.15px;
    top: -6.15px;
    left: 30.75px;
    background: #ff4c4c;
    border-radius: 50%;
    box-shadow: 0 73.8px 0 0 #ff4c4c;
}

.ldio-x2uulkbinc > div:nth-child(4) div:after {
    left: -6.15px;
    top: 30.75px;
    box-shadow: 73.8px 0 0 0 #ff4c4c;
}

.loadingio-spinner-double-ring-nq4q5u6dq7r {
    width: 123px;
    height: 123px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-x2uulkbinc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-x2uulkbinc div {
    box-sizing: content-box;
}